# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://nukfjxakqrcqfjyeydtw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ztbx9JTJV2iHSIngV_mNKw_rmXc5w-d

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000